<header>
    <div class="logo">
        <fa-icon appButtonContent [icon]="['fas', 'chess-board']" swapOpacity="true" [styles]="{'color': 'whitesmoke'}"
            size="lg"></fa-icon>
        <span>Making uncommon sense</span>
    </div>
    <app-button style="float: right; width: 70px; height: 100%">
        <fa-icon appButtonContent [icon]="['fas', 'fill-drip']" [styles]="{'color': 'whitesmoke'}" size="lg"></fa-icon>
        <ng-container appButtonPopUp>
            <p appButtonOption (click)="changeColor('#9c27b0')">
                <fa-icon appButtonContent [icon]="['fas', 'circle']" [styles]="{'color': '#9c27b0'}" size="lg">
                </fa-icon>
            </p>
            <p appButtonOption (click)="changeColor('#673ab7')">
                <fa-icon appButtonContent [icon]="['fas', 'circle']" [styles]="{'color': '#673ab7'}" size="lg">
                </fa-icon>
            </p>
            <p appButtonOption (click)="changeColor('#3f51b5')">
                <fa-icon appButtonContent [icon]="['fas', 'circle']" [styles]="{'color': '#3f51b5'}" size="lg">
                </fa-icon>
            </p>
            <p appButtonOption (click)="changeColor('#e91e63')">
                <fa-icon appButtonContent [icon]="['fas', 'circle']" [styles]="{'color': '#e91e63'}" size="lg">
                </fa-icon>
            </p>
            <p appButtonOption (click)="changeColor('#AEEA00')">
                <fa-icon appButtonContent [icon]="['fas', 'circle']" [styles]="{'color': '#AEEA00'}" size="lg">
                </fa-icon>
            </p>
        </ng-container>
    </app-button>
</header>