/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

:root {
    --primary-color: #9c27b0;
    --secondary-color: #ffff8c;
    --transition: all 0.5s;
}

$primary: var(--primary-color);
$secondary: var(--secondary-color);
$transition: var(--transition);

html {
    font-family: 'Montserrat', sans-serif;
    // font-family: 'Poiret One', cursive;
}

body {
    margin: 0;
    background: #303030;
}

.app-button-option {
    transition: $transition;
    cursor: pointer;
}

.app-button-option:hover {
    background-color: rgba(255, 255, 255, .1);
}